.Shih{
    border-radius: 8px;
    width: 400px;
    height: 400px;
}
.German{
    border-radius: 8px;
    width: 400px;
    height: 400px;
}
.Brown{
    border-radius: 8px;
    width: 400px;
    height: 400px;

}

